body {
    display: flex;
    justify-content: center;
    background: #f3fafe;
}


.contanier {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 10px #808080;
}

/*头部*/
.contanier .header {
    width: 100%;
    min-height: 107px;
    background: #742e68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.header .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .left .text-wrapper p {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

/*列表*/

.contanier .ul-wapper ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

.contanier .ul-wapper ul:before {
    display: table;
    content: "";
    line-height: 0;
}

.contanier .ul-wapper ul li {
    float: left;
    cursor: pointer;
}

.contanier .ul-wapper ul li a {
    display: block;
    padding: 8px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*导航*/
.contanier .nav {
    width: 100%;
    min-height: 33px;
    background: #321f20;
}

.contanier .nav ul li a {
    color: #ffffff;
    background-color: #321f20;
}

.contanier .nav ul li a:hover {
    background: #222222;
}

/*脚部*/
.contanier .footer {
    width: 100%;
    min-height: 60px;
    background: #f3fafe;
    display: flex;
    justify-content: center;
}

.contanier .footer ul li a {
    color: rgb(0, 85, 128);;
}

.contanier .footer ul li a:hover {
    background-color: #eeeeee;
}

/*身体*/
.contanier > .content {
    margin-top: 10px;
    padding: 0 10px;
    min-height: calc(100vh - 200px);
}

.row {
    margin: 0;
}

.contanier > .row {
    /*height: 100%;*/
}

.contanier .right {
    /*height: 100%;*/
}

.contanier .left, .contanier .right {
    /*overflow: auto;*/
}

.contanier .left {
    /*overflow: auto;*/
}

.contanier .right .right-content {
    width: 100%;
    /*overflow: auto;*/
}

a, a:hover {
    text-decoration: none;
    color: #333333;
}

/*左侧菜单样式*/
.left-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-group-item {
    margin: 0;
    padding: 8px 10px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 20px;
    box-sizing: border-box;
}

.left-group-item:last-child {
    border: none;
}

.left-group-item a {
    color: #0088cc;
    text-decoration: none;
}

/*首页*/
.login-group .btn a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
}

.login-group .btn-primary a {
    text-decoration: none;
    color: #ffffff;
}

.btn-primary {
    background: #742e68;
    border-color: #742e68;
}

.btn-primary:hover {
    background: #5d1f52;
    border-color: #5d1f52;
}

/*课程页面样式*/
.courses-wrapper {
    margin-top: 20px;
}

.courses-wrapper .course-wrapper {
    width: 100%;
    /*height: 100px;*/
    background: #ffaaff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.courses-wrapper .course-wrapper img {
    width: 100%;
}

.courses-wrapper .course-wrapper .course-name {
    position: absolute;
    bottom: 0;
    right: 0;
    /*width: 220px;*/
    text-align: right;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #78226a, 95%, rgba(0, 0, 0, 0));
    color: #ffffff;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    padding-right: 5px;
}

/*设备页面样式*/
.facilities-wrapper {
    margin-top: 20px;
}

.facilities-wrapper .facility-wrapper {
    width: 100%;
    /*height: 100px;*/
    background: #ffaaff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.facilities-wrapper .facility-wrapper img {
    width: 100%;
}

.facilities-wrapper .facility-wrapper .facility-name {
    position: absolute;
    bottom: 0;
    right: 0;
    /*width: 220px;*/
    text-align: right;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #78226a, 95%, rgba(0, 0, 0, 0));
    color: #ffffff;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    padding-right: 5px;
}

/*个人中心*/
.facility-wrapper:hover .operator-warpper, .course-wrapper:hover .operator-warpper {
    display: flex;
}

.operator-warpper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}












